body {
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    color:gray;
    text-decoration: underline;
    font-family: 'Shadows Into Light';
}

h2 {
    color: blue

}

#cabecera1 {
    color:red

}

.parrafos_rojos {

    color:pink
}


.superior {

    background-color: red;
    color: white;
    font-family: 'Mitr';
}

table {
    background-color: orange;
}


@font-face {
  
    font-family: "Righteous";
    src: url(".../semana2/fonts/Righteous-Regylar.ttf")
    
    }