body{
    font-family: Verdana;
}

.bg {
    border: solid;
    height: 300px;
}

.color-red{
    background-color: red;

}

.color-green{
    background-color: green;

}

.bg-img{
    background: url("../../semana1/images/cafe.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}


.bg-img2{
    background: url("../../semana1/images/cafe.jpeg");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

}